.mainContainer{
    background-color: red;
}

.tabContainer{
    display: flex;
    justify-content: space-around;
}

.tab{
    background-color: blue;
}
    
.activeTab{
    background-color: green;
}

    